:root {
    --primary-color: #2c3e50; /* Dark Blue */
    --secondary-color: #fffff; 
    --accent-color: #7a892c; /* Ebony */
    --background-color: #ecf0f1; /* Light Gray */
    --text-color: #2c3e50; /* Dark Blue */
    --header-background-color: #72788d; /* Darker Blue */
    --footer-background-color: #72788d; /* Dark Blue */
    --project-background: #ffffff; /* White */
    --tag-background: #e3d7ff; /* Teal */
    --tag-text-color: #000000; /* White */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}
header {
    background-color: var(--header-background-color);
    color: var(--tag-text-color);
    text-align: center;
    padding: 20px;
}
nav {
    background-color: #7a89c2;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #555;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--project-background);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.category {
    margin-bottom: 40px;
}
.category h2 {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
    color: var(--primary-color);
}
.project {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: var(--project-background);
}
.project h3 {
    margin: 0;
    color: var(--primary-color);
}
.project p {
    margin: 5px 0;
}
.tags {
    margin: 10px 0;
}
.tag-category {
    font-weight: bold;
    margin-top: 10px;
    color: var(--secondary-color);
}
.tag {
    display: inline-block;
    background-color: var(--tag-background);
    color: var(--tag-text-color);
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
    font-size: 0.9em;
}
footer {
    background-color: var(--footer-background-color);
    color: var(--tag-text-color);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
a {
    color: var(--accent-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.github-button {
    display: inline-flex;
    align-items: center;
    background-color: #7a82c9; /* Custom color */
    color: #ffffff; /* White text */
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.github-button:hover {
    background-color: #5e66a3; /* Slightly darker shade for hover effect */
}

.github-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: currentColor;
}
